{% if page.product.translated.customFields.custom_product_info1 %}
    <div class="row mb-4 additional-information-row">
        <div class="col-auto"><img src="/bundles/picagram/media/pencil.png" alt=""></div>
        <div class="col">{{ page.product.translated.customFields.custom_product_info1 }}</div>
    </div>
{% endif %}

{% if page.product.translated.customFields.custom_product_info2 %}
    <div class="row mb-4 additional-information-row">
        <div class="col-auto"><img src="/bundles/picagram/media/papers.png" alt=""></div>
        <div class="col">{{ page.product.translated.customFields.custom_product_info2 }}</div>
    </div>
{% endif %}

{% if page.product.translated.customFields.custom_product_info3 %}
    <div class="row mb-4 additional-information-row">
        <div class="col-auto"><img src="/bundles/picagram/media/size.png" alt=""></div>
        <div class="col">{{ page.product.translated.customFields.custom_product_info3 }}</div>
    </div>
{% endif %}

{% if page.product.translated.customFields.custom_product_info4 %}
    <div class="row mb-4 additional-information-row">
        <div class="col-auto"><img src="/bundles/picagram/media/truck.png" alt=""></div>
        <div class="col">{{ page.product.translated.customFields.custom_product_info4 }}</div>
    </div>
{% endif %}
