{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_headline %}
   
{% endblock %}

{% block page_product_detail_buy %}
    <div class="col-lg-6 product-detail-buy">
        <div class="row align-items-center product-detail-headline">
            {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
        </div>
        
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
    </div>
{% endblock %}

{% block page_product_detail_cross_selling %}
{% endblock %}

{% block page_product_detail_media %}
    <div class="col-lg-6 product-detail-media">
        {% if page.product.media %}
            {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                'mediaItems': mediaItems,
                'zoom': true,
                'zoomModal': true,
                'displayMode': 'cover',
                'gutter': 5,
                'minHeight': '550px',
                'navigationArrows': 'inside',
                'navigationDots': false,
                'galleryPosition': 'left',
                'isProduct': true,
                'fallbackImageTitle': page.product.translated.name,
                'startIndexThumbnails': page.product.cover.position + 1,
                'startIndexSlider': page.product.cover.position + 1
            } %}
        {% endif %}
    </div>
{% endblock %}

{% block page_product_detail_tabs %}
{% endblock %}

{% block base_footer %}
    {% sw_include '@Storefront/storefront/page/product-detail/detail-footer-banner.html.twig' %}

    {{ parent() }}
{% endblock %}