.product-image-wrapper {
    margin: 0;

    .product-image-link {
        img {
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
        }
    }
}

.product-info {
    background: #CB447F;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px; 
}

.product-information {
    padding: 0 36px;
    padding-top: 29px;

    .product-name {
        margin: 0;
        height: 30px;
        font-size: 45px;
        line-height: 54px;
        height: auto;
        color: $white;
        text-transform: uppercase;
    }

    .product-variant-characteristics-text {
        font-size: 25px;
        line-height: 35px;
        height: auto;
        color: $white;
        padding-bottom: 37px;
    }

    .product-price {
        font-size: 45px;
        line-height: 54px;
        height: auto;
        color: $white;
    }
}

.product-variant-characteristics-text{
    &::before {
        display: none;
    }

    &::after {
        display: none;
    }
}

.product-price-wrapper {
    text-align: right;
}

.product-price-info {
    margin: 0;
}

.product-box {
    border: 0;
    background: transparent;
}
