.footer-main .icon{
    color: $sw-color-brand-primary;
}

.footer-social-icons-container{
    margin-bottom: $spacer * 33;
    
    .footer-social-link {
        padding: 0;
    
        .icon {
            width: $spacer * 11;
            height: $spacer * 11;
            margin-left: $spacer * 5;
        }
    
        .icon-fb {
            margin: 0;
        }
    }
}

.footer-main {
    border: 0;
}

.footer-link-item {
    padding: 10px 0;
}

.footer-column-content-inner {
    img {
        margin: auto;
    }
}

.payment-methods-pictures {
    max-width: 90%;
}

.footer-logo:last-child {
    margin-bottom: 15px;
}

.footer-headline {
    margin: 0;
}

.list-unstyled {
    text-transform: uppercase;
}

.footer-logo-image {
    height: auto;
    width: 100%;
    max-height: 100%;
}

.footer-column{
    &:nth-child(2) {
        margin-top: 10px;
        .footer-headline {
            padding-bottom: 7px;
            padding-top: 0;
        }
    }
}

.cookie-permission-container {
    .cookie-permission-button {
        button {
            padding: 10px 30px;
            font-size: 20px;
            background: transparent linear-gradient(90deg, #FFD06C 0%, #D78275 40%, #B42762 100%) 0% 0% ;
            color: #fff;
            text-transform: uppercase;
            margin-right: 10px;
        }
    }

    button {
        padding: 10px 30px;
        font-size: 20px;
        background: transparent linear-gradient(90deg, #FFD06C 0%, #D78275 40%, #B42762 100%) 0% 0% ;
        color: #fff;
        text-transform: uppercase;
    }
}


